.intermission-layout {
  opacity: 0;
  animation: 
    fade-in 1s ease-in-out forwards,
    soft-descent 1s ease-in-out forwards;
}

.intermission-layout .wooden-panel-container {
  width: 100%;
}

.intermission-description-container .wooden-panel-container {
  width: 100%;
}

.intermission-card-clicker {
  z-index: 100;
}

.intermission-description-container .wooden-panel-container .intermission-description { 
  max-height: 10dvw;
  overflow-y: auto;
}

.token-description.intermission-description-container .wooden-panel-container .intermission-description {
  max-height: 100%;
}

.damage-color {
  color: #be2c2c;
}

.utility-color {
  color: #438db5;
}

.heal-color {
  color: #3fa984;
}