.intermission-layout {
  width: 100%;
  opacity: 0;
  animation: fade-in-soft-descent 1s ease-in-out forwards;
}

.intermission-layout .wooden-panel-container {
  width: 100%;
}

.intermission-description-container .wooden-panel-container {
  width: 100%;
}